@font-face {
  font-family: "nexaheavy";
  src:
    url("./Nexa/nexa-heavy-webfont.woff2") format("woff2"),
    url("./Nexa/nexa-heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "next";
  src:
    url("./Nexa/nexa-extralight-webfont.woff2") format("woff2"),
    url("./Nexa/nexa-extralight-webfont.woff") format("woff");
}

* {
  font-family: "next";
}

h3 {
  font-family: "nextheavy";
  font-size: 2em;
}

.displayWeather {
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-rows: 50% 50%; */
}

.currentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.todayBG {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 235, 205, 0.9);
  border-radius: 25px;
  padding: 25px 25px 10px 25px;
  filter: drop-shadow(1px 2px 8px var(--shadow-color));
  --shadow-color: hsl(220deg 60% 50%);
}

.todayCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 10px;
}

.currentTemp {
  font-size: 25px;
}
.icon {
  width: 210px;
  margin: -25px;
}

.conditions {
  font-size: 20px;
}
.windDiv {
  display: flex;
  margin-top: 15px;
  align-items: center;
}

.windInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.windIcon {
  height: 50px;
}

.windIconSmall {
  height: 30px;
  margin-right: 10px;
}
.icon_small {
  height: 100px;
  margin: -10px;
}

.sevenDayDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  height: fit-content;
}

.maxTemp {
  font-size: 20px;
}
.dayCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgba(255, 235, 205, 0.9);
  padding: 10px;
  filter: drop-shadow(1px 2px 8px var(--shadow-color));
  --shadow-color: hsl(220deg 60% 50%);
}
